@charset "UTF-8";

html,body{
    margin: 5px;
    padding: 15px;
    height:200vh;
    background-color: #abced8;
    background-size: cover;
}

#excanvas{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.maizuruPhoto{
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    z-index: 1000;
}

.words{
    color: #000200;
    font-size: 30px;
    position: relative;
    padding-top: 130px;
    z-index: 1;
}

form{
    position: relative;
    z-index: 1;
}

.button{
    display : inline-block;
    border-radius: 10%;                   /* 角の丸さ */
    font-size: 30px;                      /* 文字サイズ */
    text-align: center;                   /* 文字の位置 */
    cursor: pointer;
    padding: 12px 12px;                   /* 余白 */
    color: rgba(35, 52, 77, 0.75);      /* 文字色 */
    line-height: 1em;                     /* 行の高さ */
    background: #ffffd1;                /* 背景色 */
    opacity: 1;                           /*背景透明度*/
    transition: .3s;
    box-shadow: 3px 3px 3px #777777;    /* 影 */
    position: relative;
    z-index: 1;
    margin: 0 10px;                       /* ボタン間のスペース */
}
.button:hover {
    box-shadow: none;
    opacity: 0.8;
}