@charset "UTF-8";

.words{
    color: #000200;
    font-size: 30px;
}

.button{
    display : inline-block;
    border-radius: 10%;                   /* 角の丸さ */
    font-size: 30px;                      /* 文字サイズ */
    text-align: center;                   /* 文字の位置 */
    cursor: pointer;
    padding: 12px 12px;                   /* 余白 */
    color: rgba(35, 52, 77, 0.75);      /* 文字色 */
    line-height: 1em;                     /* 行の高さ */
    background: #ffffd1;                /* 背景色 */
    opacity: 1;                           /*背景透明度*/
    transition: .3s;
    box-shadow: 3px 3px 3px #777777;    /* 影 */
}
.button:hover {
    box-shadow: none;
    opacity: 0.8;
}